[Unit]
Description=uWSGI service for EPG APP
After=network.target

[Service]
ExecStart=uwsgi --ini /app/uwsgi/uwsgi.ini --master --need-app
WorkingDirectory=/app/
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Restart=always
RestartSec=5
KillSignal=SIGTERM
Type=forking
ExecStop=/usr/bin/kill -SIGTERM $(cat /app/uwsgi/uwsgi.pid)
PIDFile=/app/uwsgi/uwsgi.pid

[Install]
WantedBy=multi-user.target
